:root {
  --tallhandwriting: "Bad Script", cursive;
  --default: "Handlee", cursive;
  --cursive-pretty: "Parisienne", cursive;
  --handwriting: "Reenie Beanie", cursive;
}

body {
  background-color: black;
  color: white;
}

html {
  scroll-behavior: smooth;
}

header {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.4),
      rgba(39, 32, 68, 0.4)
    ),
    url("../src/images/YNBackground.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  text-align: center;
  padding: 200px 300px 450px 300px;
}

header h1 {
  font-size: 100px;
  margin: 0;
  font-family: var(--default);
  background: #959595;
  background: repeating-radial-gradient(
    ellipse farthest-corner at center center,
    #959595 0%,
    #0d0d0d 46%,
    #010101 50%,
    #0a0a0a 53%,
    #4e4e4e 76%,
    #383838 87%,
    #1b1b1b 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-transform: uppercase;
}
header h2 {
  font-size: 30px;
  margin: 0;
}

header h3 {
  font-size: 34px;
  margin-top: 0;
}

header h2,
header h3 {
  font-family: var(--tallhandwriting);
  opacity: 0.9;
  color: #321e2a;
}

h1 {
  font-family: var(--tallhandwriting);
  font-size: 50px;
  text-align: center;
  color: #ddb272;
}

h2 {
  font-family: var(--default);
  font-size: 35px;
}

h3 {
  font-family: var(--default);
  color: #ddb272;
  font-size: 25px;
}

p {
  font-size: 30px;
  font-family: var(--default);
}

ul {
  font-family: var(--default);
}

a {
  color: #ddb272;
  font-size: 25px;
}

a:hover {
  color: aliceblue;
  cursor: pointer;
}

footer {
  font-size: 25px;
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.8),
      rgba(39, 32, 68, 0.8)
    ),
    url("../src/images/cute-dogs.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
}

.container-fluid {
  max-width: 1800px;
  margin: 0 auto;
}

.img-fluid {
  width: 80%;
  margin: 25px;
}

.section-1 {
  background-color: black;
  padding: 80px;
}

.note {
  padding: 50px;
  margin-top: 100px;
}

.welcome-image {
  border-radius: 20px;
  width: 70%;
  margin-left: 80px;
}

.welcome-note {
  font-size: 25px;
  margin: 20px;
  line-height: 1.5;
}

.thanks {
  color: white;
}

.thanks-heading {
  margin-top: 10px;
  margin-bottom: 5px;
}

.section-2 {
  background-color: #1e1b2c;
  padding: 60px;
}

.contacts {
  margin-top: 20px;
  margin-bottom: 30px;
}

.section-3 {
  background-color: black;
  padding: 50px;
  margin: 10px;
}

.routines {
  font-size: 32px;
  line-height: 2;
  padding: 100px;
}

.daily-routines-img {
  border-radius: 20px;
  width: 30%;
}

.section-4 {
  background-color: #1e1b2c;
  padding: 60px;
}

.yoshi-img {
  width: 30%;
  border-radius: 20px;
}

.description {
  padding: 100px;
}

.vitamins {
  font-size: 25px;
}

.section-5 {
  background-color: black;
  padding: 30px;
  margin-left: 20px;
}

.nori-img {
  width: 30%;
  border-radius: 20px;
}

.description-nori {
  padding: 100px;
}

@media (max-width: 800px) {
  .container-fluid {
    max-width: 800px;
  }
  header {
    padding: 20px 70px 110px 70px;
  }
  header h1 {
    font-size: 20px;
  }
  header h2 {
    font-size: 10px;
  }
  header h3 {
    font-size: 8px;
  }
  h1 {
    font-size: 14px;
  }
  h2 {
    font-size: 9px;
  }
  h3 {
    font-size: 12px;
  }
  p {
    font-size: 12px;
  }
  footer {
    font-size: 12px;
    padding: 12px;
  }
  footer a {
    font-size: 12px;
  }
  /* [class*="col-"] {
    width: 50%;
  } */

  /* .img-fluid {
    width: 40%;
  } */

  .section-1 {
    padding: 5px;
  }

  .note {
    padding: 5px;
    margin-top: 10px;
  }

  .thanks {
    margin-bottom: 0;
  }

  .thanks-heading {
    margin-top: 0;
    margin-bottom: 15px;
  }

  .welcome-image {
    width: 70%;
    margin-top: 40px;
    margin-left: 25px;
  }

  .welcome-note {
    font-size: 12px;
    margin: 10px;
    line-height: 1.2;
  }

  .section-2 {
    padding: 10px;
    text-align: center;
  }

  .section-2 h2 {
    font-size: 20px;
    margin: 10px;
  }

  .img-fluid {
    width: 70%;
    margin: 20px;
  }

  .link {
    margin: 20px;
  }

  .section-2 a {
    font-size: 15px;
  }

  .contacts {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .section-3 {
    padding: 5px;
  }

  .routines {
    font-size: 15px;
    line-height: 1.5;
    padding: 40px;
  }

  .daily-routines-img {
    width: 80%;
    margin-left: 20px;
    margin-top: 15px;
  }

  .section-4 {
    padding: 30px;
  }

  .yoshi-img {
    width: 45%;
  }

  .description {
    padding: 10px;
  }
  .vitamins {
    font-size: 12px;
  }

  .section-5 {
    padding: 15px;
    margin-left: 10px;
  }

  .nori-img {
    width: 30%;
  }

  .description-nori {
    padding: 10px 60px 10px 60px;
  }
}

/* @media only screen and (max-width: 500px) {
  header {
    padding: 10px;
  }
  header h1 {
    font-size: 30px;
  }
  header h2 {
    font-size: 14px;
  }
  header h3 {
    font-size: 12px;
  }
} */
