body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: goldenrod;
}

html {
  scroll-behavior: smooth;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../src/images/yoshi-nori-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 500px 0;
}
