* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --tallhandwriting: "Bad Script", cursive;
  --default: "Handlee", cursive;
  --cursive-pretty: "Parisienne", cursive;
  --handwriting: "Reenie Beanie", cursive;
}

body {
  font-family: var(--default);
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1;
  background-color: black;
  color: white;
  padding: 30px;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

nav {
  padding: 1.8rem;
  float: right;
}

nav a {
  text-decoration: none;
  font-size: 2.5rem;
  margin-right: 3rem;
  color: #1e1b2c;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.4),
      rgba(39, 32, 68, 0.4)
    ),
    url("../src/images/YNBackground.jpeg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 3%, 100% 0, 100% 86%, 0 100%);
  position: relative;
  font-family: var(--cursive-pretty);
}

.header__text-box {
  position: absolute;
  top: 20%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.heading-primary {
  color: rgba(39, 41, 41, 0.803);
  text-transform: uppercase;
}

.heading-primary--main {
  display: block;
  font-size: 55px;
  font-weight: 400;
  letter-spacing: 3rem;

  animation: moveInLeft 1s ease-out;
}

.heading-primary--sub {
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1rem;
  margin: 2.5rem;

  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  font-family: var(--tallhandwriting);
  font-size: 5rem;
  text-align: center;
  color: #ddb272;
}

h2 {
  font-family: var(--default);
  font-size: 3.5rem;
}

h3 {
  font-family: var(--default);
  color: #ddb272;
  font-size: 2.5rem;
}

p {
  font-size: 3rem;
  font-family: var(--default);
}

ul {
  font-family: var(--default);
}

a {
  color: #ddb272;
  font-size: 2.5rem;
}

a:hover {
  color: aliceblue;
  cursor: pointer;
}

footer {
  font-size: 2.5rem;
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.8),
      rgba(39, 32, 68, 0.8)
    ),
    url("../src/images/cute-dogs.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem;
}

.container-fluid {
  max-width: 180rem;
  margin: 0 auto;
}

.img-fluid {
  width: 80%;
  margin: 2.5rem;
}

.section-1 {
  background-color: black;
  padding: 8rem;
}

.note {
  padding: 5rem;
  margin-top: 10rem;
}

.welcome-img {
  border-radius: 2rem;
  width: 70%;
  margin-left: 8rem;
}

.welcome-note {
  font-size: 2.5rem;
  margin: 2rem;
  line-height: 1.5;
}

.thanks {
  color: white;
}

.thanks-heading {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.section-2 {
  background-color: #1e1b2c;
  padding: 6rem;
}

.contacts {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.section-3 {
  background-color: black;
  padding: 5rem;
  margin: 1rem;
}

.routines {
  font-size: 3.2rem;
  line-height: 2;
  padding: 10rem;
}

.daily-routines-img {
  border-radius: 2rem;
  width: 30%;
}

.section-4 {
  background-color: #1e1b2c;
  padding: 6rem;
}

.yoshi-img {
  width: 30%;
  border-radius: 2rem;
}

.description {
  padding: 10rem;
}

.vitamins {
  font-size: 2.5rem;
}

.section-5 {
  background-color: black;
  padding: 3rem;
  margin-left: 2rem;
}

.nori-img {
  width: 30%;
  border-radius: 2rem;
}

.description-nori {
  padding: 10rem;
}

@media (max-width: 80rem) {
  .container-fluid {
    max-width: 80rem;
  }

  nav {
    padding: 1rem;
    float: right;
  }

  nav a {
    text-decoration: none;
    font-size: 1.2rem;
    margin-right: 3rem;
    color: #1e1b2c;
  }

  header {
    padding: 2rem 7rem 11rem 7rem;
  }
  header h1 {
    font-size: 2rem;
  }
  header h2 {
    font-size: 1rem;
    font-weight: bold;
  }
  header h3 {
    font-size: 0.8rem;
    font-weight: bold;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 0.9rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1.2rem;
  }
  footer {
    font-size: 1.2rem;
    padding: 1.2rem;
  }
  footer a {
    font-size: 1.2rem;
  }
  /* [class*="col-"] {
    width: 50%;
  } */

  /* .img-fluid {
    width: 40%;
  } */

  .section-1 {
    padding: 0.5rem;
  }

  .note {
    padding: 0.5rem;
    margin-top: 1rem;
  }

  .thanks {
    margin-bottom: 0;
  }

  .thanks-heading {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  .welcome-img {
    width: 70%;
    margin-top: 4rem;
    margin-left: 2.5rem;
  }

  .welcome-note {
    font-size: 1.2rem;
    margin: 1rem;
    line-height: 1.2;
  }

  .section-2 {
    padding: 1rem;
    text-align: center;
  }

  .section-2 h2 {
    font-size: 2rem;
    margin: 1rem;
  }

  .img-fluid {
    width: 70%;
    margin: 2rem;
  }

  .link {
    margin: 2rem;
  }

  .section-2 a {
    font-size: 1.5rem;
  }

  .contacts {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  .section-3 {
    padding: 0.5rem;
  }

  .routines {
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 4rem;
  }

  .daily-routines-img {
    width: 60%;
    margin-left: 2rem;
    margin-top: 1.5rem;
  }

  .section-4 {
    padding: 3rem;
  }

  .yoshi-img {
    width: 45%;
  }

  .description {
    padding: 1rem;
  }
  .vitamins {
    font-size: 1.2rem;
  }

  .section-5 {
    padding: 1.5rem;
    margin-left: 1rem;
  }

  .nori-img {
    width: 35%;
  }

  .description-nori {
    padding: 0rem 5rem 1rem 5rem;
  }
}
